XSD/clientes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Clientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Cliente" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" type="xs:string"/>
              <xs:element name="App" type="xs:string"/>
              <xs:element name="Apm" type="xs:string"/>
              <xs:element name="RFC" type="xs:string"/>
              <xs:element name="Tipo" type="xs:string"/>
              <xs:element name="Salario_Mensual" type="xs:decimal"/>
              <xs:element name="Direccion" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="numCliente" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>